<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <title>Warehouse</title>
</head>
<body>
<section class="header">
    <nav>
        <a href="main"><img src="img/logo.png"></a>
    </nav>
    <div id="content">
        <form method="post" id="login-form">
            <input type="text" placeholder="Login" name="login">
            <br>
            <input type="password" placeholder="Haslo" name="password">
            <br>
            <input type="submit" value="Login">
        </form>
    </div>
    <br><br>
    <a><center>Aby sie zalogowac wpisz uzytkownika</a><br>
    <a>admin admin</a><br>
    <a>root root</a></center><br>
</section>
</body>
</html>